<div class="row">
    <div class="col-md-2">
        <!--<img src="images/{{$ctrl.user.no}}.png" width="40" height="40" alt="{{$ctrl.user.name}}" />-->
        <img src="{{$ctrl.main_imageURL}}" alt="{{$ctrl.user.name}}" class="main-image"/>
    </div>main-img
    <div class="col-md-6">
        <ul>
            <li>No:<b>{{$ctrl.user.no}}</b></li>
            <li>Name:<b>{{$ctrl.user.name}}</b></li>
            <li>Phone:<b>{{$ctrl.user.phone}}</b></li>
            <li>Company:<b>{{$ctrl.user.occupation.company}}</b></li>
            <li>Result:<b>{{$ctrl.user.occupation.result | resultmark}}</b></li>
        </ul>
        <ul class="images-thumbs">
            <li ng-repeat="img in $ctrl.user.images">
                <img src="{{img}}" width="40" height="40" ng-click="$ctrl.main_image(img)" />
            </li>
        </ul>
    </div>
</div>